
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    height: 60px;
}

.submenu .nav-link{
    color: #000000 ;

}

  .container{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 2rem;
  }

  nav.navbar {
    position: absolute;
    top: 0;
    width: 100%;  
    background-color: #000 !important;
    height: 80px;
}

.entradas-tabla{
    display: flex;
    width: 90%;
    justify-content: space-between;
    gap: 10px;
}
.btn-agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    color: #0F9815;
    border: solid #0F9815 2px;
    text-decoration: none;
    font-weight: 600;
    width: 150px;
    height: 40px;
    padding: .5rem;
    border-radius: 20px;
   }

   .btn-agregar:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F9815;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    width: 150px;
    height: 40px;
    padding: .5rem;
    border-radius: 20px;
   }

   th{
    width: 100px;
   }
   
.submenu .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: transparent;
    bottom: -4px;
    left: 0;
    transition: width 0.5s ease, background-color 0.5s ease;
  }
 .submenu .nav-link:hover::after {
    width: 100%;
    background-color: red;
  }

  .table-responsive{
    width: 90%;
  }

  thead{
    background-color: #000;
  }
  thead tr th{
    color: #fff;
    text-align: center;
  }

  .int{
    width: 80px;
  }
  .logotipo{
    width: 60%;
    margin-top: 0px;
    border-radius: 30px;
}

.icons{
  text-align: center;
}

.col{
  width: 100px;
}


.table td, .table th{
  vertical-align: middle;
  border: solid 1px;
}


.table td input{
  vertical-align: middle;
  padding: 2px;
  background:transparent !important;
  border: none;
  text-align: center;
}



@media (max-width: 767px) {
  .logotipo-res {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 20vh;
    /* mask-image: linear-gradient(#2f3033 70%, transparent); */
}

*{
  font-size: 12px;
}

  .submenu .nav-link{
    color: #000000 ;
    font-size: 15px;
}

.text-btn{
  font-size: 12px;
}
.submenu {
  width: 100%;
  justify-content: space-evenly;
}
.filter{
  width: 100% !important;
}
.table td input{
  vertical-align: middle;
  padding: 2px;
  background:transparent !important;
  border: none;
}

.container{
  margin: 0 auto;
  width: 100%;
  padding: 0;
}
.table-responsive{
  width: 100%;
}
.end{
  width: 20px !important;
}
}